@theme {
  --color-brand-main: #533ddd;
  --color-brand-main-hover: #4a2d9b;
  --color-brand-main-active: #3b1e8c;
  --color-brand-orange: #ffa500;
  --color-brand-orange-hover: #e68a00;
  --color-brand-orange-active: #c86c00;
  --color-brand-red: #fb2c36;
}

.shiki {
  @apply p-4 overflow-auto outline-none;
  max-height: 480px;
}

.shiki {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

.inline-code {
  @apply bg-slate-800/60 rounded-sm px-1 font-bold py-0.5;
}

body {
  @apply text-white;
  color-scheme: dark;
}

@utility card {
  @apply bg-slate-900/75 border border-slate-700/50 rounded-xl;
}

@utility anchor-btn {
  @apply inline-flex items-center gap-2 px-3 py-2 rounded-md font-semibold;
  @apply bg-slate-700 text-white;
  @apply text-sm transition-all duration-200 outline-none whitespace-nowrap;
  @apply focus:ring-2 focus:ring-brand-orange/75;
  @apply hover:bg-slate-600 active:bg-slate-800 active:ring-0;
  @apply disabled:pointer-events-none disabled:opacity-50;

  &.btn-primary {
    @apply bg-brand-orange text-white;
    @apply focus:ring-brand-red/75;
    @apply hover:bg-brand-orange-hover;
    @apply active:bg-brand-orange-active;
  }

  &.btn-alternate {
    @apply px-4 py-2 rounded-md;
    @apply bg-slate-900 hover:bg-brand-orange text-white active:bg-slate-950;
    @apply disabled:opacity-25 disabled:pointer-events-none;
  }

  &.btn-lg {
    @apply px-8 py-3.5 text-[1rem];
  }

  &.btn-icon {
    @apply px-2.5;
  }
}

@utility anchor-icon-btn {
  @apply inline-flex items-center justify-center transition-all duration-200 outline-none;
  @apply hover:text-slate-200 text-slate-400 focus:text-slate-300 active:text-slate-500;
  @apply disabled:opacity-25 disabled:pointer-events-none;
}

@utility anchor-input {
  @apply px-3 py-2 rounded-md outline-none transition-all duration-200 text-sm;
  @apply bg-slate-800 text-white placeholder-slate-500;
  @apply focus:ring-2 focus:ring-brand-orange/75;

  &.input-md {
    @apply px-4 py-3 rounded-lg text-[1rem];
  }
}

.page-section {
  @apply relative;

  &:before,
  &:after {
    @apply absolute w-2xl aspect-square block rounded-full z-0 blur-[150px] opacity-30;
    content: '';
  }

  &:before {
    @apply bg-brand-red;
    top: 5%;
    left: 10%;
  }

  &:after {
    @apply bg-brand-main;
    right: 10%;
    bottom: 5%;
  }

  & > * {
    @apply relative z-10;
  }
}
