@import 'tailwindcss';
@import '@anchorkit/headless/styles/index.css';

@import '@anchorkit/headless/styles/themes/amber.css';
@import '@anchorkit/headless/styles/themes/blue.css';
@import '@anchorkit/headless/styles/themes/cyan.css';
@import '@anchorkit/headless/styles/themes/emerald.css';
@import '@anchorkit/headless/styles/themes/fuchsia.css';
@import '@anchorkit/headless/styles/themes/green.css';
@import '@anchorkit/headless/styles/themes/indigo.css';
@import '@anchorkit/headless/styles/themes/lime.css';
@import '@anchorkit/headless/styles/themes/orange.css';
@import '@anchorkit/headless/styles/themes/pink.css';
@import '@anchorkit/headless/styles/themes/purple.css';
@import '@anchorkit/headless/styles/themes/red.css';
@import '@anchorkit/headless/styles/themes/rose.css';
@import '@anchorkit/headless/styles/themes/sky.css';
@import '@anchorkit/headless/styles/themes/slate.css';
@import '@anchorkit/headless/styles/themes/teal.css';
@import '@anchorkit/headless/styles/themes/violet.css';
@import '@anchorkit/headless/styles/themes/yellow.css';

@source '../../../node_modules/@anchorkit/react/dist';

body {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
