@layer theme {
  .theme-blue {
    --color-primary: var(--color-blue-600);
    --color-primary-ring: color-mix(in oklab, var(--color-blue-500) var(--ring-opacity), transparent);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-blue-700);
    --color-primary-active: var(--color-blue-600);
    --color-primary-focus: var(--color-blue-600);
    --color-primary-disabled: var(--color-blue-300);
    --color-primary-disabled-foreground: var(--color-blue-400);
  }

  .dark.theme-blue {
    --color-primary: var(--color-blue-600);
    --color-primary-ring: color-mix(in oklab, var(--color-blue-800) var(--ring-opacity), transparent);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-blue-700);
    --color-primary-active: var(--color-blue-800);
    --color-primary-focus: var(--color-blue-500);
    --color-primary-disabled: color-mix(in oklab, var(--color-blue-600) 50%, black 50%);
    --color-primary-disabled-foreground: var(--color-blue-800);
  }
}
