@theme {
  --ark-badge-background: var(--color-accent);
  --ark-badge-foreground: var(--color-accent-foreground);
  --ark-badge-outline-foreground: var(--color-accent-foreground);

  --ark-badge-gap: var(--spacing-xs);
  --ark-badge-padding-block: 0;
  --ark-badge-padding-inline: var(--spacing-sm);

  --ark-badge-border: var(--color-border);
  --ark-badge-border-radius: calc(var(--radius-md) * 0.75);

  --ark-badge-font-size: var(--text-xs);
  --ark-badge-font-weight: var(--font-weight-medium);

  --ark-badge-size: 28px;
  --ark-badge-icon-size: 62%;
}

@utility ark-badge-layout {
  height: var(--ark-badge-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--ark-badge-gap);
  padding-block: var(--ark-badge-padding-block);
  padding-inline: var(--ark-badge-padding-inline);

  font-size: var(--ark-badge-font-size);
  font-weight: var(--ark-badge-font-weight);
  line-height: 1;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--transition-timing);
  transition-duration: var(--transition-duration-fast);

  & > svg,
  & > img,
  & > .ark-icon {
    width: var(--ark-badge-icon-size);
    height: var(--ark-badge-icon-size);
  }
}

@utility ark-badge {
  @apply ark-badge-layout;

  color: var(--ark-badge-foreground);
  border: 1px solid transparent;
  border-radius: var(--ark-badge-border-radius);
  background-color: var(--ark-badge-background);
}

@utility ark-badge-primary {
  --ark-badge-background: var(--color-primary);
  --ark-badge-foreground: var(--color-primary-foreground);
  --ark-badge-border: var(--color-primary);
  --ark-badge-outline-foreground: var(--color-primary);
}

@utility ark-badge-secondary {
  --ark-badge-background: var(--color-accent);
  --ark-badge-foreground: var(--color-accent-foreground);
  --ark-badge-border: var(--color-accent);
  --ark-badge-outline-foreground: var(--color-accent);
}

@utility ark-badge-destructive {
  --ark-badge-background: var(--color-destructive);
  --ark-badge-foreground: var(--color-destructive-foreground);
  --ark-badge-border: var(--color-destructive);
  --ark-badge-outline-foreground: var(--color-destructive);
}

@utility ark-badge-success {
  --ark-badge-background: var(--color-success);
  --ark-badge-foreground: var(--color-success-foreground);
  --ark-badge-border: var(--color-success);
  --ark-badge-outline-foreground: var(--color-success);
}

@utility ark-badge-warning {
  --ark-badge-background: var(--color-warning);
  --ark-badge-foreground: var(--color-warning-foreground);
  --ark-badge-border: var(--color-warning);
  --ark-badge-outline-foreground: var(--color-warning);
}

@utility ark-badge-info {
  --ark-badge-background: var(--color-info);
  --ark-badge-foreground: var(--color-info-foreground);
  --ark-badge-border: var(--color-info);
  --ark-badge-outline-foreground: var(--color-info);
}

@utility ark-badge-sm {
  height: calc(var(--ark-badge-size) * 0.75);
  padding-inline: calc(var(--ark-badge-padding-inline) * 0.75);
  font-size: calc(var(--ark-badge-font-size) * 0.75);
  border-radius: calc(var(--ark-badge-border-radius) * 0.75);

  &.ark-badge-icon {
    width: calc(var(--ark-badge-size) * 0.75);
  }
}

@utility ark-badge-md {
  height: calc(var(--ark-badge-size) * 1);
  padding-inline: calc(var(--ark-badge-padding-inline) * 1);
  font-size: calc(var(--ark-badge-font-size) * 1);
  border-radius: calc(var(--ark-badge-border-radius) * 1);

  &.ark-badge-icon {
    width: calc(var(--ark-badge-size) * 1);
  }
}

@utility ark-badge-md {
  height: calc(var(--ark-badge-size) * 1.25);
  padding-inline: calc(var(--ark-badge-padding-inline) * 1.25);
  font-size: calc(var(--ark-badge-font-size) * 1.25);
  border-radius: calc(var(--ark-badge-border-radius) * 1.25);

  &.ark-badge-icon {
    width: calc(var(--ark-badge-size) * 1.25);
  }
}

@utility ark-badge-lg {
  height: calc(var(--ark-badge-size) * 1.5);
  padding-inline: calc(var(--ark-badge-padding-inline) * 1.5);
  font-size: calc(var(--ark-badge-font-size) * 1.5);
  border-radius: calc(var(--ark-badge-border-radius) * 1.5);

  &.ark-badge-icon {
    width: calc(var(--ark-badge-size) * 1.5);
  }
}

@utility ark-badge-outline {
  background: transparent;
  color: var(--ark-badge-outline-foreground);
  border-color: var(--ark-badge-border);
}

@utility ark-badge-chip {
  --ark-badge-border-radius: var(--radius-full);
}

@utility ark-badge-icon {
  --ark-badge-padding-block: 0;
  --ark-badge-padding-inline: 0;
  width: var(--ark-badge-size);
}
