@theme {
  --ark-button-background: var(--color-accent);
  --ark-button-background-hover: var(--color-accent-hover);
  --ark-button-background-active: var(--color-accent-active);
  --ark-button-background-disabled: var(--color-accent-disabled);

  --ark-button-foreground: var(--color-accent-foreground);
  --ark-button-foreground-hover: var(--color-accent-foreground);
  --ark-button-foreground-active: var(--color-accent-foreground);
  --ark-button-foreground-disabled: var(--color-accent-disabled-foreground);

  --ark-button-padding-block: 0;
  --ark-button-padding-inline: calc(var(--spacing) * 3);
  --ark-button-gap: calc(var(--spacing) * 2);
  --ark-button-height: 36px;

  --ark-button-font-size: var(--text-sm);
  --ark-button-font-weight: var(--font-weight-medium);

  --ark-button-border-size: 1px;
  --ark-button-border-color: transparent;
  --ark-button-border-color-disabled: transparent;
  --ark-button-border-radius: var(--radius-md);

  --ark-button-ring-size: 3px;
  --ark-button-ring-opacity: 25%;
  --ark-button-ring-color: var(--color-accent-ring);
  --ark-button-ring-offset: 0;

  --ark-button-icon-size: 60%;

  --ark-button-group-background: var(--color-zinc-900);
  --ark-button-group-foreground: var(--color-zinc-50);
}

@layer theme {
  .dark {
    --ark-button-group-background: var(--color-zinc-100);
    --ark-button-group-foreground: var(--color-zinc-900);
  }
}

@utility ark-button-layout {
  height: var(--ark-button-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--ark-button-gap);
  padding: var(--ark-button-padding-block) var(--ark-button-padding-inline);

  font-size: var(--ark-button-font-size);
  font-weight: var(--ark-button-font-weight);
  line-height: 1;
  white-space: nowrap;
  user-select: none;

  transition-property:
    color, background-color, outline-color, border-bottom-color, border-top-color, border-left-color, border-right-color;
  transition-timing-function: var(--transition-timing);
  transition-duration: var(--transition-duration-fast);

  &:disabled,
  &.ark-disabled {
    pointer-events: none;
  }

  & > svg,
  & > img,
  & > .ark-icon {
    height: var(--ark-button-icon-size);
    width: var(--ark-button-icon-size);
  }

  &:has(> svg:first-child:not(:only-child)),
  &:has(> img:first-child:not(:only-child)),
  &:has(> .ark-icon:first-child:not(:only-child)) {
    padding-left: var(--ark-button-gap);
  }

  &:has(> svg:last-child:not(:only-child)),
  &:has(> img:last-child:not(:only-child)),
  &:has(> .ark-icon:last-child:not(:only-child)) {
    padding-right: var(--ark-button-gap);
  }

  &.ark-button-icon-prefix {
    /*padding-left: var(--ark-button-gap);*/
  }

  &.ark-button-icon-suffix {
    /*padding-right: var(--ark-button-gap);*/
  }
}

@utility ark-button-style {
  color: var(--ark-button-foreground);
  background-color: var(--ark-button-background);

  border: var(--ark-button-border-size) solid var(--ark-button-border-color);
  outline: var(--ark-button-ring-size) solid transparent;
  outline-offset: var(--ark-button-ring-offset);

  &:focus,
  &.ark-focus {
    outline-color: var(--ark-button-ring-color);
  }

  &:hover,
  &.ark-hover {
    color: var(--ark-button-foreground-hover);
    background-color: var(--ark-button-background-hover);
  }

  &:active,
  &.ark-active {
    background-color: var(--ark-button-background-active);
    color: var(--ark-button-foreground-active);
  }

  &:disabled,
  &.ark-disabled {
    color: var(--ark-button-foreground-disabled);
    background-color: var(--ark-button-background-disabled);
    border-color: var(--ark-button-border-color-disabled);
  }
}

@utility ark-button {
  @apply ark-button-layout ark-button-style;
  border-radius: var(--ark-button-border-radius);
}

@utility ark-primary-button {
  --ark-button-background: var(--color-primary);
  --ark-button-background-hover: var(--color-primary-hover);
  --ark-button-background-active: var(--color-primary-active);
  --ark-button-background-disabled: var(--color-primary-disabled);

  --ark-button-foreground: var(--color-primary-foreground);
  --ark-button-foreground-hover: var(--color-primary-foreground);
  --ark-button-foreground-active: var(--color-primary-foreground);
  --ark-button-foreground-disabled: var(--color-primary-disabled-foreground);
  --ark-button-ring-color: var(--color-primary-ring);
}

@utility ark-destructive-button {
  --ark-button-background: var(--color-destructive);
  --ark-button-background-hover: var(--color-destructive-hover);
  --ark-button-background-active: var(--color-destructive-active);
  --ark-button-background-disabled: var(--color-destructive-disabled);

  --ark-button-foreground: var(--color-destructive-foreground);
  --ark-button-foreground-hover: var(--color-destructive-foreground);
  --ark-button-foreground-active: var(--color-destructive-foreground);
  --ark-button-foreground-disabled: var(--color-destructive-disabled-foreground);
  --ark-button-ring-color: var(--color-destructive-ring);
}

@utility ark-outline-button {
  --ark-button-background: transparent;
  --ark-button-background-hover: var(--color-primary-hover);
  --ark-button-background-active: var(--color-primary-active);
  --ark-button-background-disabled: transparent;
  --ark-button-border-color: var(--ark-button-foreground);
  --ark-button-border-color-disabled: var(--color-primary-disabled);

  --ark-button-foreground: var(--color-primary);
  --ark-button-foreground-hover: var(--color-primary-foreground);
  --ark-button-foreground-active: var(--color-primary-foreground);
  --ark-button-foreground-disabled: var(--color-primary-disabled-foreground);
  --ark-button-ring-color: var(--color-primary-ring);
}

@utility ark-ghost-button {
  --ark-button-background: transparent;
  --ark-button-background-hover: var(--color-primary-hover);
  --ark-button-background-active: var(--color-primary-active);
  --ark-button-background-disabled: transparent;

  --ark-button-foreground: var(--color-primary);
  --ark-button-foreground-hover: var(--color-primary-foreground);
  --ark-button-foreground-active: var(--color-primary-foreground);
  --ark-button-foreground-disabled: var(--color-primary-disabled-foreground);
  --ark-button-ring-color: var(--color-primary-ring);
}

@utility ark-link-button {
  --ark-button-background: transparent;
  --ark-button-background-hover: transparent;
  --ark-button-background-active: transparent;
  --ark-button-background-disabled: transparent;

  --ark-button-foreground: var(--color-primary);
  --ark-button-foreground-hover: var(--color-primary);
  --ark-button-foreground-active: var(--color-primary);
  --ark-button-foreground-disabled: var(--color-muted-foreground);
  --ark-button-ring-color: var(--color-primary-ring);

  cursor: pointer;
  text-decoration: underline;
}

@utility ark-sm-button {
  &:not(.ark-icon-button) {
    --ark-button-gap: calc(var(--spacing) * 2 * 0.75);
  }

  height: calc(var(--ark-button-height) * 0.75);
  font-size: calc(var(--ark-button-font-size) * 0.75);
  outline-width: calc(var(--ark-button-ring-size) * 0.75);
  border-radius: calc(var(--ark-button-border-radius) * 0.75);
  padding-inline: calc(var(--ark-button-padding-inline) * 0.75);
}

@utility ark-md-button {
  &:not(.ark-icon-button) {
    --ark-button-gap: calc(var(--spacing) * 2 * 1.25);
  }

  height: calc(var(--ark-button-height) * 1.25);
  font-size: calc(var(--ark-button-font-size) * 1.25);
  outline-width: calc(var(--ark-button-ring-size) * 1.25);
  border-radius: calc(var(--ark-button-border-radius) * 1.25);
  padding-inline: calc(var(--ark-button-padding-inline) * 1.25);
}

@utility ark-lg-button {
  &:not(.ark-icon-button) {
    --ark-button-gap: calc(var(--spacing) * 2 * 1.5);
  }

  height: calc(var(--ark-button-height) * 1.5);
  font-size: calc(var(--ark-button-font-size) * 1.5);
  outline-width: calc(var(--ark-button-ring-size) * 1.5);
  border-radius: calc(var(--ark-button-border-radius) * 1.5);
  padding-inline: calc(var(--ark-button-padding-inline) * 1.5);
}

@utility ark-base-icon-button {
  --ark-button-padding-inline: 0;
  --ark-button-gap: 0;

  height: var(--ark-button-height);
  width: var(--ark-button-height);

  &.ark-sm-button {
    height: calc(var(--ark-button-height) * 0.75);
    width: calc(var(--ark-button-height) * 0.75);
  }

  &.ark-md-button {
    height: calc(var(--ark-button-height) * 1.25);
    width: calc(var(--ark-button-height) * 1.25);
  }

  &.ark-lg-button {
    height: calc(var(--ark-button-height) * 1.5);
    width: calc(var(--ark-button-height) * 1.5);
  }
}

@utility ark-icon-button {
  @apply ark-button ark-base-icon-button;
}

@utility ark-button-group {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: calc(var(--ark-button-border-radius) * 0.75);
  box-shadow: var(--shadow-sm);

  & > .ark-tool-button:first-child {
    border-top-left-radius: calc(var(--ark-button-border-radius) * 0.75);
    border-bottom-left-radius: calc(var(--ark-button-border-radius) * 0.75);
  }

  & > .ark-tool-button:last-child {
    border-top-right-radius: calc(var(--ark-button-border-radius) * 0.75);
    border-bottom-right-radius: calc(var(--ark-button-border-radius) * 0.75);
  }

  & > .ark-tool-button:not(:last-child) {
    border-right-color: var(--color-border);
  }
}

@utility ark-tool-button {
  @apply ark-button-layout;

  --ark-button-padding-inline: 0;
  --ark-button-gap: 0;
  --ark-button-border-radius: calc(var(--radius-md) * 0.75);

  height: calc(var(--ark-button-height) * 0.75);
  width: calc(var(--ark-button-height) * 0.75);
  font-size: calc(var(--ark-button-font-size) * 0.75);
  outline: transparent solid calc(var(--ark-button-ring-size) * 0.75);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
  z-index: 1;

  &:focus,
  &:hover,
  &.ark-focus,
  &.ark-hover {
    background: var(--ark-button-background-active);
    color: var(--ark-button-foreground-active);
  }

  &:active,
  &.ark-active {
    background: var(--ark-button-background-hover);
    color: var(--ark-button-foreground-hover);
  }
}
