@import 'tailwindcss';
@import '@anchorlib/react-kit/styles/index.css';

@source '../../../node_modules/@anchorlib/react-kit/dist';

@theme {
  --color-section-blur-red: --alpha(var(--color-brand-red) / 25%);
  --color-section-blur-blue: --alpha(var(--color-brand-main) / 25%);
  --color-header-background: --alpha(var(--color-background) / 75%);
  --color-canvs-dots: #c6cfe7;

  --header-height: 0;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-playfair-display);
}

@layer theme {
  .dark {
    --color-section-blur-red: var(--color-brand-red);
    --color-section-blur-blue: var(--color-brand-main);
    --color-header-background: --alpha(var(--color-background) / 50%);
    --color-canvs-dots: #2f3642;
  }
}

html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.ark-tooltip {
  @apply text-background bg-foreground;
}

.ark-header.scrolled {
  @apply bg-header-background backdrop-blur-xl;
}

.ark-section {
  @apply max-w-6xl lg:max-w-6xl mx-auto flex flex-col justify-center items-center;
}

.ark-section-title {
  @apply max-w-4xl font-title;
}

.ark-section-description {
  @apply max-w-5xl;
}

.ark-section-offset.min-h-screen .ark-section {
  @apply min-h-screen;
}

.ark-code-viewer.flex-1 .ark-code-viewer-body {
  @apply flex-1 flex flex-col;

  .ark-code-block {
    @apply flex flex-col;
  }

  .ark-code-block,
  .shiki {
    @apply flex-1 text-sm;
  }
}

.tight-code-viewer .ark-code-viewer-body {
  max-height: 320px;
}

.fill-screen-section {
  @apply flex flex-col justify-center;
}

.page-section {
  @apply relative;

  /*&:before,*/
  /*&:after {*/
  /*  @apply absolute w-[80%] md:w-2xl aspect-square block rounded-full z-0 blur-[150px] opacity-30;*/
  /*  content: '';*/
  /*}*/

  /*&:before {*/
  /*  @apply bg-section-blur-red;*/
  /*  top: 5%;*/
  /*  left: 10%;*/
  /*}*/

  /*&:after {*/
  /*  @apply bg-section-blur-blue;*/
  /*  right: 10%;*/
  /*  bottom: 5%;*/
  /*}*/

  & > * {
    @apply relative z-10;
  }
}

.immersive-section {
  @apply py-4 flex flex-col justify-center items-center;
  min-height: calc(100vh - var(--header-height));
}

.editor-app {
  max-height: 640px;
}

.canvas-content {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(var(--color-canvs-dots) 1px, transparent 1px);
  background-size: 20px 20px;
}
