@layer theme {
  .theme-sky {
    --color-primary: var(--color-sky-600);
    --color-primary-ring: color-mix(in oklab, var(--color-sky-500) var(--ring-opacity), transparent);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-sky-700);
    --color-primary-active: var(--color-sky-600);
    --color-primary-focus: var(--color-sky-600);
    --color-primary-disabled: var(--color-sky-300);
    --color-primary-disabled-foreground: var(--color-sky-400);
  }

  .dark.theme-sky {
    --color-primary: var(--color-sky-600);
    --color-primary-ring: color-mix(in oklab, var(--color-sky-800) var(--ring-opacity), transparent);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-sky-700);
    --color-primary-active: var(--color-sky-800);
    --color-primary-focus: var(--color-sky-500);
    --color-primary-disabled: color-mix(in oklab, var(--color-sky-600) 50%, black 50%);
    --color-primary-disabled-foreground: var(--color-sky-800);
  }
}
